body {
    margin: 0;
    padding: 0;
    background-image: "images/webbackground.jpg";
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}
