body {
    margin: 0;
    padding: 0;
    background-image: url('../images/webbackground.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

h1, h2, h3{
    line-height: 1.2;
    font-family: 'Parisienne', cursive;
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Tangerine', cursive; */
}

p {
    font-size: 1.5em;
}
